[Unit]
Description=socket server for iot
After=network.target


[Service]
User=ubuntu
Group=www-data
ExecStart=/home/ubuntu/rabbie/socket/main

[Install]
WantedBy=multi-user.target
